<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password Mazaji</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Change Password</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center">Use the form below to change your password.</p>
                <form id="passwordForm">
                    <input type="password" class="input-lg form-control" name="password1" id="password1"
                        placeholder="New Password" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8
                            Characters Long<br>
                            <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One
                            Letter
                        </div>
                        <div class="col-sm-6">
                            <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                        </div>
                    </div>
                    <input type="password" class="input-lg form-control" name="password2" id="password2"
                        placeholder="Repeat Password" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-12" id="pwmatch_div" style="display: none;">
                            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                            Passwords Match
                        </div>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="togglePassword">Show Password
                    </div>

                    <input type="button" class="col-xs-12 btn-load btn-lg" id="change_password"
                        style="background-color: #FCB92B; border: none;" data-loading-text="Changing Password..."
                        value="Change Password">
                </form>
            </div>
            <!--/col-sm-6-->
        </div>
        <!--/row-->
    </div>
</body>

<script>

    $("input[type=password]").keyup(function () {
        var ucase = new RegExp("[a-zA-Z]+");
        var num = new RegExp("[0-9]+");

        if ($("#password1").val().length >= 8) {
            $("#8char").removeClass("glyphicon-remove");
            $("#8char").addClass("glyphicon-ok");
            $("#8char").css("color", "#00A41E");
        } else {
            $("#8char").removeClass("glyphicon-ok");
            $("#8char").addClass("glyphicon-remove");
            $("#8char").css("color", "#FF0004");
        }

        if (ucase.test($("#password1").val())) {
            $("#ucase").removeClass("glyphicon-remove");
            $("#ucase").addClass("glyphicon-ok");
            $("#ucase").css("color", "#00A41E");
        } else {
            $("#ucase").removeClass("glyphicon-ok");
            $("#ucase").addClass("glyphicon-remove");
            $("#ucase").css("color", "#FF0004");
        }

        if (num.test($("#password1").val())) {
            $("#num").removeClass("glyphicon-remove");
            $("#num").addClass("glyphicon-ok");
            $("#num").css("color", "#00A41E");
        } else {
            $("#num").removeClass("glyphicon-ok");
            $("#num").addClass("glyphicon-remove");
            $("#num").css("color", "#FF0004");
        }

        if ($("#password1").val() == $("#password2").val()) {
            $("#pwmatch").removeClass("glyphicon-remove");
            $("#pwmatch").addClass("glyphicon-ok");
            $("#pwmatch").css("color", "#00A41E");
        } else {
            $("#pwmatch").removeClass("glyphicon-ok");
            $("#pwmatch").addClass("glyphicon-remove");
            $("#pwmatch").css("color", "#FF0004");
        }
    });

    $('#password2').keyup(function () {
        $('#pwmatch_div').css("display", "block")
    });

    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password1");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);

    });

    $('#change_password').on('click', function (e) {
        e.preventDefault();
        var ucase = new RegExp("[a-zA-Z]+");
        var num = new RegExp("[0-9]+");


        if ($("#password1").val().length >= 8 && ucase.test($("#password1").val())
            && num.test($("#password1").val()) && $("#password1").val() == $("#password2").val()) {
            let url = window.location.href;
            url = url.slice(url.lastIndexOf('/') + 1);


            // POST request using fetch()
            fetch("https://mazajiv1.herokuapp.com/api/auth/reset-password", {

                // Adding method type
                method: "POST",

                // Adding body or contents to send
                body: JSON.stringify({
                    token: url,
                    password1: $('#password1').val(),
                    password2: $('#password2').val()
                }),

                // Adding headers to the request
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(response => response.json())
                .then(json => console.log(json));

        }
        else {
            alert('Please Meet All Requirements for Password');
        }

    })

</script>

</html>